<div class="days-container">
  <button
    *ngFor="let day of days; index as i"
    [class.active]="currentDay === day"
    (click)="setCurrentDay(i)"
  >
    {{ day }}
  </button>
  <button
    class="summary-button"
    [class.active]="viewingSummary"
    (click)="viewSummary()"
  >
    SUMMARY
  </button>
</div>

<div *ngIf="!viewingSummary" class="daily-expenses-container">
  <h3>Daily Expenses</h3>
  <table>
    <thead>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenseService.getExpenses(currentDay); index as i">
        <td>{{ expense.category }}</td>
        <td>{{ expense.amount }}</td>
        <td>
          <button class="edit-button" (click)="editExpense(i)">✎</button>
        </td>
        <td>
          <button class="delete-button" (click)="deleteExpense(i)">🗑</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="add-expense-form">
    <h4>Add Expense</h4>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput placeholder="Category" [(ngModel)]="category" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="Amount" type="number" [(ngModel)]="amount" />
    </mat-form-field>
  </div>
  <div class="daily-total">
    <button class="save-button" (click)="addExpense()">Add expense</button>
    <button class="total-button">Daily Total: {{ expenseService.getTotal(currentDay) }}</button>
  </div>
</div>

<div *ngIf="viewingSummary" class="summary-section">
  <h2>Your weekly expense summary</h2>
  <div *ngFor="let day of days; let i = index" class="day-summary">
    <h3>{{ day }}</h3>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenseService.getExpenses(day)">
          <td>{{ expense.category }}</td>
          <td>{{ expense.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="weekly-summary-container">
    <button class="total-button">
      Weekly Total: {{ expenseService.getWeeklyTotal() }}
    </button>
    <button class="total-button">
      Weekly Budget: {{ expenseService.getWeeklyBudget() }}
    </button>
    <button class="total-button">
      Weekly Savings: {{ expenseService.getWeeklySavings() }}
    </button>
  </div>
</div>
